In [ ]:
library(dplyr)

In [ ]:
library(tidyr)

# Section 1: Syntax

Convert the following table to a tbl class

In [ ]:
BG3_char <- data.frame (
  Names = c("Gale", "Wyll", "Astarion", "Karlach"),
  HP = c(8, 10, 10, 14),
  Human = c(TRUE, TRUE, FALSE, FALSE)
)
class(BG3_char)

Give a summary of the table

View the data (for RStudio, not Jupyter Notebook)

# Section 2: Reshaping data

Change the following data frame in a way that each year is a column containing the ages.

In [ ]:
Age_DF <- data.frame (
  Name = c("Lizzie", "Lizzie", "Lizzie", "Emma", "Emma", "Emma"),
  Year = c(2023, 2022, 2021, 2023, 2022, 2021),
  Age = c(27, 26, 25, 25, 24, 23)
)
Age_DF <- tbl_df(Age_DF)
Age_DF

Change the data frame to how it originally was

Order the names alphabethically and descending

Combine columns and seperate them again

Combine two vectors into one dataframe

In [ ]:
pets <- c("dog", "cat", "bunny")
number_of <- 1:3

Rename a column of the dataframe

# Section 3: Subset Observations

Subselect the characters who have equal or higher than 10

In [ ]:
BG3_char <- data.frame (
  Names = c("Gale", "Wyll", "Astarion", "Karlach", "Karlach"),
  HP = c(8, 10, 10, 14, 14),
  Human = c(TRUE, TRUE, FALSE, FALSE, FALSE)
)

Remove the duplicate row from the table

Select half of the dataset randomly

Select 1 row randomly

Select the first 2 rows using their position

select the character with the highest hp

Select only the Names and Human column

# Section 4: Summarise data

!! Tip: you can use %>% to pipe different steps in a way that is more readable !!

Summarise the table below using piping, to caclulate the mean HP group by the human column.

In [ ]:
BG3_char <- data.frame (
  Names = c("Gale", "Wyll", "Astarion", "Karlach"),
  HP = c(8, 10, 10, 14),
  Human = c(TRUE, TRUE, FALSE, FALSE)
)
tbl_BG3_char <- tbl_df(BG3_char)
tbl_BG3_char

Summarise each column of the table and see what happens for each datatype

count how often each HP value appears in the table

# Section 5: Make new variables

Add a new column to the table

In [ ]:
new_column <- c(6, 6, 8, 4)

Combine the HP and Temp_HP column

Repeat the previous code using transmute() instead of mutate() and saving it in a different variable.

# Section 6: combine data sets

In [ ]:
BG3_char <- data.frame (
  Names = c("Gale", "Wyll", "Astarion", "Karlach"),
  HP = c(8, 10, 10, 14)
)
tbl_BG3_char <- tbl_df(BG3_char)
tbl_BG3_char

BG3_char_V2 <- data.frame (
  Names = c("Gale", "Wyll", "Shadowheart", "Lae'zel"),
  Human = c(TRUE, TRUE, FALSE, FALSE)
)
tbl_BG3_char_V2 <- tbl_df(BG3_char_V2)
tbl_BG3_char_V2

test left_join() and right_join() on the tables above and look at the differences

test inner_join() and full_join() on the tables above and look at the differences

test semi_join() and anti_join() on the tables above and look at the differences